{% extends 'core/base.html' %}
{% load static %}

{% block background %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block titulo %}ACERCA DE{% endblock %}
{% block subtitulo %}Conoce más sobre mí{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 offset-lg-1">
      <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="Avatar de {{ persona.nombres }}">
    </div>
    <div class="col-lg-7 col-md-8">
      <h2 class="section-heading">{{ persona.nombres }} {{ persona.apellidos }}</h2>
      <p><b>Título académico:</b> {{ persona.titulo_academico }}</p>
      <p><b>Dirección:</b> {{ persona.direccion }}</p>
      <p><b>Teléfono:</b> {{ persona.telefono }}</p>
      <p><b>Correo:</b> {{ persona.correo_electronico }}</p>
      <p><b>Dedicación:</b> {{ persona.dedicacion }}</p>
      <p>{{ persona.biografia }}</p>
    </div>
  </div>
</div>
<hr>
{% endblock %}
