{% extends 'core/base.html' %}
{% load static %}

{% block background %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block titulo %}CONTACTO{% endblock %}
{% block subtitulo %}mi informacion{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <p>Mi nombre es <b>Paulina Intriago</b> y actualmente estudio la Carrera de Tecnologías de la Información.</p>
    <br>
    <p><b>Teléfono:</b> 0968288452</p>
    <p><b>Edad:</b> 20 años</p>
  </div>
</div>
<hr>
{% endblock %}
