{% extends 'core/base.html' %}
{% load static %}

{% block background %}{% static 'core/img/portfolio-bg.jpg' %}{% endblock %}

{% block titulo %}PORTAFOLIO{% endblock %}
{% block subtitulo %}Mis proyectos realizados{% endblock %}

{% block content %}
<div class="row">
  {% for proyecto in proyectos %}
    <div class="col-lg-3 col-md-4 offset-lg-1">
      <img class="img-fluid" src="{{ proyecto.image.url }}" alt="{{ proyecto.title }}">
    </div>
    <div class="col-lg-7 col-md-8">
      <h2 class="section-heading title">{{ proyecto.title }}</h2>
      <p>{{ proyecto.description }}</p>
      {% if proyecto.enlace %}
        <p><a href="{{ proyecto.enlace }}" target="_blank">Más información</a></p>
      {% endif %}
    </div>
  {% endfor %}
</div>
{% endblock %}
